## .NET
bin/
obj/
*.user
*.suo
.vs/
*.log

## Logs
src/API/logs/

## appsettings locales (no subir credenciales)
appsettings.Development.json
appsettings.Production.json

## Publicacion
publish/
out/

## Claude Code
.claude/
